* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body, button, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, input, textarea, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, main, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

button, a {
	cursor: pointer;
	text-decoration: none;
}
input:focus,
textarea:focus,
button:focus,
a:focus {
	outline: none;
	background: inherit;
	-webkit-tap-highlight-color: transparent; //*prevents the blue!
}
input:hover,
textarea:hover,
button:hover,
a:hover {
	outline: none;
	// background: inherit; not for the buttons at least
	-webkit-tap-highlight-color: transparent; 
}
input:active,
textarea:active,
button:active,
a:active {
	outline: none;
	background: inherit;
	-webkit-tap-highlight-color: transparent; 
}
input:visited,
textarea:visited,
button:visited,
a:visited {
	outline: none;
	background: none;
	-webkit-tap-highlight-color: transparent; 
}


// <---------- Variables ------------>//
$primary: #ccc;
$dark: #171717;
$light: #f3f3f3;
$drop-shadow: 5px 5px 10px #b8bbbe, 
				-5px -5px 10px #ffffff;

$inset-shadow: inset 5px 5px 10px #979a9c, 
				inset -5px -5px 10px #ffffff,
				5px 5px 10px #b8bbbe, 
				-5px -5px 10px #ffffff;

$button-color: #ECF0F3;


// <---------- Styles: mobile first ------------>//

body {
	width: 100%;
	height: 100vh; 
	background: #fff;
	font-family: 'Roboto', 'Helvetica', sans-serif;
}

canvas {
	background: #fff; 
	// cursor: url("../img/circle.png") 11 11, auto;
	width: 100%;
	height: 100%;
}

.download-btn {
	position: absolute;
	top: 20px;
	right: 20px;
	// scale: 0.2;
	width: 100px;
	height: 100px;
	margin: 25px;
	cursor: pointer;

	& > div {
		position: relative;
		// background-image: linear-gradient(to top, $button-color 0%, #303030 100%);
		background: $button-color;
		border-radius: 50%;
		display: flex; align-items: center; justify-content: center;
		padding: 20px;
		width: 100%;
		height: 100%;
		transition: .2s;
		font-size: 2.5em;
		// box-shadow: inset 0 20px 4px -21px rgba(#fff,.4),
						//   0 19px 13px 0 rgba(0,0,0,.3);
		box-shadow: $drop-shadow;
		color: #ccc;
		z-index: 2;
		   
		&:before { // mascara?
			content: "";
			display: block;
			width: .8em;
			height: .8em;
			transition: .1s;
			background-image: radial-gradient(circle 30px at center, #ebf7ff 0%, #b3e1ff 47%, #b3e1ff 100%);
			position: absolute;
			filter: blur(15px);
			top: 50%;
			left: 50%;
			border-radius: 50%;
			transform: translate(-50%, -50%);
			opacity: 0;
		}
		
		&:after {
			content: "";
			display: block;
			width: 1px;
			height: 70px;
			position: absolute;
			border-radius: 50%;
			z-index: -1;
			opacity: 0;
			transition: .2s;
			filter: blur(0px);
			box-shadow:
      			  -75px 0 0px 0px rgba(#b3e1ff, 0.3),
    			    74px 0 0px 0px rgba(#b3e1ff, 0.35)
		}
		
		svg {
			height: 2em;
			width: 2em;
			position: relative;
			fill: $button-color;
			filter: drop-shadow(0 1px 1px  rgba(#fff, 0.15)) url(#inset-shadow);
	
			&.active {
				background-image: linear-gradient(to top, #151515 0%, #1d1d1d 100%);
				// box-shadow: inset 0 16px 14px -21px transparent, 0 0px 13px 0 rgba(0,0,0,0.3),
							// inset 0 0 7px 2px rgba(0,0,0,0.4);
				box-shadow: $inset-shadow;
				z-index: 0;

				&:before {
					width: 1em;
					height: 1em;
					opacity: 0.8;
				}
				&:after {
					opacity: 0;
				}
				svg {
					fill: url(#active);
      				filter: drop-shadow(0 1px 1px  rgba(#fff, 0));
				}
			}	
		}
	}
	div:first-of-type {
		border-radius: 4px 0 0 4px;
		&:after {

			box-shadow: -85px 0 18px 1px transparent, 83px 0 12px 1px #b3e1ff;
		}

	}
  div:last-of-type {
	  border-radius: 0 4px 4px 0;
	  &:after {
		  box-shadow: -85px 0 18px 1px #b3e1ff, 83px 0 12px 1px transparent;
	  }

  }

}

.draw-menu {
	position: absolute;
	width: 100%;
	height: fit-content;
	bottom: 0;
	padding: 5px 5px;
	background: $button-color;

	display: flex;
	flex-flow: row wrap; justify-content: space-between; align-items: center;

	button {
		border-radius: 13px;
		color: $dark;
		font-weight: bold;
		margin: 5px 4px;
		width: 42px;
		height: 42px;
		border-radius: 13px;
		
		background: linear-gradient(145deg, #d4d8db, #fdffff);
		box-shadow:  $drop-shadow;

		display: flex; flex-flow: row nowrap; justify-content: center; align-items: center;

		&.active,
		&:active {
			border: 2px #f7fafa solid;
			border: 2px $button-color solid;
			background: $button-color;
			box-shadow: $inset-shadow;
		}	
	}

	.colors {
		position: relative;
		width: fit-content;
		height: fit-content;

		#color-picker {
			margin: 5px;
			padding: 8px;
			border-radius: 13px;
			box-shadow: $inset-shadow;
			border: 3px $button-color solid;
		}
	}

	.brushers-wrapper {
		position: relative;
		// width: calc(100% - 162px); // -picker width
		width: 202px; // -picker width
		display: flex; flex-flow: row wrap; justify-content: center; align-items: center;

		.weight-picker {
			.pointer {
				border-radius: 50%;
				background: #000;
			}			
		}

		.eraser {
			margin-left: 5px;
		}
	}
}


@media (min-width: 510px) {
	canvas {
		cursor: url("../img/circle.png") 11 11, auto;
	}
	
	.draw-menu {
		height: 160px;
		padding: 10px 10px;

		button {
			margin: 5px 5px;
			width: 50px;
			height: 50px;
		}
		
		.colors {
			#color-picker {
				padding: 12px;
				margin: 0 7px;
			}
		}

		.brushers-wrapper {
			width: calc(100% - 200px);
			.clear {
				margin-left: 25px;
			}
			.eraser {
				// todo: ver como
				order: 6;
			}
		}
	}
}